/* Rainbow Loader created by Avan C. (https://codepad.co/snippet/3SuRP9Xh) */

.arc {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    animation: spin ease 1.4s infinite both;
  }
  .arc:nth-child(1) {
    background: var(--red);
    width: 70vmin;
    height: 70vmin;
    margin-left: -35vmin;
    margin-top: -35vmin;
    clip: rect(0 70vmin 35vmin 0);
    animation-delay: 1.2s;
  }
  .arc:nth-child(2) {
    background: var(--orange);
    width: 60vmin;
    height: 60vmin;
    margin-left: -30vmin;
    margin-top: -30vmin;
    clip: rect(0 60vmin 30vmin 0);
    animation-delay: 1s;
  }
  .arc:nth-child(3) {
    background: var(--yellow);
    width: 50vmin;
    height: 50vmin;
    margin-left: -25vmin;
    margin-top: -25vmin;
    clip: rect(0 50vmin 25vmin 0);
    animation-delay: 0.8s;
  }
  .arc:nth-child(4) {
    background: var(--green);
    width: 40vmin;
    height: 40vmin;
    margin-left: -20vmin;
    margin-top: -20vmin;
    clip: rect(0 40vmin 20vmin 0);
    animation-delay: 0.6s;
  }
  .arc:nth-child(5) {
    background: var(--blue);
    width: 30vmin;
    height: 30vmin;
    margin-left: -15vmin;
    margin-top: -15vmin;
    clip: rect(0 30vmin 15vmin 0);
    animation-delay: 0.4s;
  }
  .arc:nth-child(6) {
    background: var(--purple);
    width: 20vmin;
    height: 20vmin;
    margin-left: -10vmin;
    margin-top: -10vmin;
    clip: rect(0 20vmin 10vmin 0);
    animation-delay: 0.2s;
  }
  .arc:nth-child(7) {
    background: var(--light);
    width: 10vmin;
    height: 10vmin;
    margin-left: -5vmin;
    margin-top: -5vmin;
    clip: rect(0 10vmin 5vmin 0);
    animation-delay: 0s;
  }
  #rainbow {
    position: relative;
    /* left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 70vmin;
    height: 70vmin; */
  }
  @keyframes spin {
    from {
      transform: rotateZ(-180deg);
    }
    to {
      transform: rotateZ(180deg);
    }
  }
  body {
    background: #fdfad8;
    overflow: hidden;
  }

  /* 35px = 5vmin */