:root {
    --light: #fdfad8;
    --transp: #fdfad8a6;
    --red: #e31d28;
    --orange: #ed8c3d;
    --yellow: #fcd234;
    --green: #3e9965;
    --blue: #295167;
    --purple: #492245;
    background: #fdfad8;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--purple);
    font-size: .8rem; }
    @media (min-width: 576px) {
        :root {
            font-size: 1rem; } }
    @media (min-width: 1800px) {
        :root {
            font-size: 1.5rem; } }
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    min-height: 98vh;
    width: 100%; }

div.container {
    flex: 0 0 100%;
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
    align-items: center; }
    @media (min-width: 576px) {
        .container {
        max-width: 540px; } }
    @media (min-width: 768px) {
        .container {
        max-width: 720px; } }
    @media (min-width: 992px) {
        .container {
        max-width: 960px; } }
    @media (min-width: 1200px) {
        .container {
        max-width: 1140px; } }
    @media (min-width: 1800px) {
        .container {
        max-width: 1680px; } }

h1 {
    flex: 0 0 100%;
    align-self: flex-start;
    justify-content: start;
    z-index: 3;
    font-weight: 400;
    background: var(--transp); }

#rainbow {
    flex: 0 0 100%;
    z-index: 2;
    width: 90vmin; }

div.circle {
    z-index: 1; }

div#display {
    flex: 0 0 100%;
    color: var(--light);
    min-width: 80vmin;
    padding: .5rem;
    z-index: 2;
    position: relative;
    display: none; }

span#displayTxt {
    z-index: 3;
    padding: 0;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: .2rem;
    text-align: center; }

.ready {
    cursor: url('img/bow-and-arrow-black-th.png'), ne-resize; }
.wait {
    cursor: progress; }

.visible {
    display: flex !important; }

.purple {
    background: var(--purple); }
.red {
    background: var(--red); }
.orange {
    background: var(--orange); }
.yellow {
    background: var(--yellow);
    color: var(--blue) !important; }
.green {
    background: var(--green); }
.blue {
    background: var(--blue); }

footer {
    flex: 0 0 100%;
    align-self: flex-end;
    justify-content: end;
    text-align: end;
    font-size: 80%;
    font-weight: 200;
    padding: 0 1rem;
    height: 2rem; }